* {
  padding: 0;
  margin: 0;
}
body {
  background: blue;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 1px solid white;
  color: white;
  margin-bottom: 5%;
}

.contenido {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 400px;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow:  -10px 10px 10px 5px white
}

.izq {
  width: 50%;
  border: 2px solid white;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.der {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-left: 3px;
  border: 2px solid white;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid white;
}

.productGlobal {
  width: 100%;
  height: 50%;
  display: block;
  
}



.products {
  display: flex;
}

.titleProduct {
  width: 100%;
  height: 120px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  
 
 
}

.imagen{
  width: 100%;
  height: 100%;
  opacity: .8;
}
.ruleTenis h4{
  color: white;
  font-size: bold;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.ruleTenis {
  width: 100%;
  height: 120px;
  border: 1px solid white;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
 text-align: center;
  
}



.image {
  width: 200px;
  height: 244px;
}

.reservar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  height: 100px;
  border: 1px solid white;
}

.zapato {
  width: 20px;
  height: 20px;
}

.reservarText {
  padding-left: 30px;
  padding-right: 30px;
}

.title{
  margin-top: 3px;
  
}

.descriptionSchedule{
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
}

.tablet{
  
  width: 100%;
  height: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  
}

.headerTable{
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(34, 2, 71);
  color: black;
  width: 300px;
  color: rgb(255, 253, 253);
  border: none;
}

tr:nth-of-type(1)> th{
  background-color: rgba(22, 71, 38, 0.897);
} 


.containerTablet{
  background: white;
  color: blue;
  border: none;
}